.maps {
  width: auto;
}

#Localidad iframe {
  padding-bottom: 20px;
  width: 80%;
}

#carouselExample {
  max-width: 500px;
  max-height: auto;
  margin: 0 auto;
  position: relative;
  z-index: 0;
}

#mapa {
  color: whitesmoke;
}
